.requests-accordion {
  background: #171414 !important;
  padding: 8px !important;
}

.requests-accordion-title {
  border-bottom: 1px solid white;
}

.requests-item {
  max-height: 900px;
  overflow: scroll;
}

.request-timestamp {
  font-size: 0.8em;
}

.debug-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.request-tabs {
  .menu {
    position: sticky;
    top: 0;
    background-color: rgb(23, 20, 20) !important;
  }
}

.ui.fullscreen.scrolling.modal.requests-modal {
  left: 2.5% !important;
  .icon {
    color: rgba(255, 255, 255, 0.8) !important;
  }
}
