.requests-accordion {
  background: #171414 !important;
  padding: 8px !important;
}

.requests-accordion-title {
  border-bottom: 1px solid white;
}

.requests-item {
  max-height: 500px;
  overflow: scroll;
}

.request-timestamp {
  font-size: 0.8em;
}

.debug-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
