.test-suite {
  .test-suite-name {
    font-size: 1.5em;
    font-weight: bold;
    color: #1f2027;
    display: flex;
    align-items: center;

    &.passed {
      color: green;
    }

    &.failed {
      color: red;
    }

    &.running {
      color: yellow;
    }
  }
}

.re-run-button {
  background-color: rgb(0, 115, 255);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}
